<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="org.example.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <beans profile="dev">
        <bean id="userDao" class="org.example.mapper.impl.UserDaoInMermoryImpl">
            <!-- collaborators and configuration for this bean go here -->
        </bean>
    </beans>
    <beans profile="prod">
        <bean id="userDao" class="org.example.mapper.impl.UserDaoInRedisImpl">
            <!-- collaborators and configuration for this bean go here -->
        </bean>
    </beans>


</beans>