<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartdrm.mapper.system.SysMenuMapper">

    <select id="getDataGrid" resultType="com.smartdrm.entity.system.SysMenu">
        select * from sys_menu;
    </select>

    <select id="getDataGridCount" resultType="int">
        select count(*) from sys_menu;
    </select>

    <select id="getMenu" resultType="com.smartdrm.entity.system.SysMenu">
        select * from sys_menu where menu_type = #{menuType};
    </select>

    <insert id="save" parameterType="com.smartdrm.entity.system.SysMenu">
        insert into sys_menu(MENU_ID, MENU_NAME, PARENT_ID, ORDER_NUM, url, menu_type, visible, perms, create_by, create_time)
        values(#{menuId}, #{menuName}, #{parentId}, #{orderNum}, #{url},  #{menuType}, #{visible}, #{perms}, #{createBy}, now())
    </insert>

    <select id="getMaxMenuIdParentId" parameterType="int" resultType="java.lang.Integer">
        select max(MENU_ID) from sys_menu where PARENT_ID = #{parentId};
    </select>
</mapper>
