<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- 配置自定义的UserRealm -->
    <bean id="userRealm" class="com.smartdrm.shiro.UserRealm"/>

    <!-- 配置authc过滤器 -->
    <bean id="authc" class="com.smartdrm.shiro.UserFormFilter">
        <!-- 修改登录参数 -->
        <property name="usernameParam" value="loginName"/>
        <property name="passwordParam" value="password"/>
    </bean>

    <!-- 配置Shiro安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
    </bean>

    <!-- 配置Shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--配置安全管理器securityManager-->
        <property name="securityManager" ref="securityManager"/>
        <!-- 登录url,如果没有登录，跳到该url-->
        <property name="loginUrl" value="/system/login"/>
        <!-- 认证成功后跳转的url,默认认证成功后跳转上一个url-->
        <property name="successUrl" value="/system/main"/>
        <!-- 用户没有权限访问资源时跳转的url -->
        <property name="unauthorizedUrl" value="/system/refuse"/>
        <!--自定义过滤链-->
        <property name="filters">
            <map>
                <entry key="authc" value-ref="authc"/>
            </map>
        </property>
        <!-- 配置shiro的过滤器链 -->
        <property name="filterChainDefinitions">
            <value>
                /js/**=anon <!--anon跳过登录验证-->
                /css/**=anon
                /html/**=anon
                /images/**=anon
                /system/getRandCodeImage=anon
                /login/login=anon
                /login/logout=logout <!--logout退出登录-->
                /**=authc<!--authc 除上述指定不需要认证，其他的均需要认证-->
            </value>
        </property>
    </bean>

    <!-- 配置logout过滤器 -->
    <bean id="logout" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="/system/login"/>
    </bean>

</beans>
